<html>

<head>
  <title>ABC</title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script> <!-- vue.js.의 CDN 버전 -->
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" /> <!-- 내부 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <header class="navbar navbar-default">
      <div class="navbar-left">
        <h1>{{sitename}}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-defalut btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">
            {{cartItemCount}}
          </span>
          <span>체크아웃</span>
        </button>
      </div>
    </header>
    <main>
      <div class="product">
        <div v-if="showProduct">
          <div class="col">
            <figure>
              <img v-bind:src="product.image">
            </figure>
          </div>
          <div class="col col-expand description">
            <h1>{{product.title}}</h1>
            <p v-html="product.description"></p>
            <p class="price">
              {{ product.price | formatPrice }}
            </p>
          </div>
          <button class="btn btn-primary btn-lg" v-on:click="addToCart" v-if="canAddToCart">장바구니 담기</button>
          <button disabled="true" class="btn btn-primary btn-lg" v-else>장바구니 담기
          </button>
        </div>
        <div v-else>
          <div class="col-md-6">
            <strong>이름:</strong>
            <input v-model.trim="order.firstName" class="form-control">
          </div>
          <div class="col-md-6">
            <strong>성:</strong>
            <input v-model.trim="order.lastName" class="form-control">
          </div>
          <div class="form-group">
            <div class="col-md-12"><strong>주소:</strong></div>
            <div class="col-md-12">
              <input v-model.trim="order.address" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12"><strong>도시:</strong></div>
            <div class="col-md-12">
              <input v-model.trim="order.city" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
              <strong>우편번호:</strong>
              <input v-model.number="order.zip" type="number" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2">
              <strong>주:</strong>
              <select v-model="order.state" class="form-control">
                <option disabled value="">주</option>
                <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                <option value="알라바마">AL</option>
                <option value="알래스카">AK</option>
                <option value="애리조나">AR</option>
                <option value="캘리포니아">CA</option>
                <option value="네바다">NV</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 boxes">
              <input type="checkbox"
              id="gift" value="true"
              v-bind:true-value="order.sendGift"
              v-bind:false-value="order.dontSendGift"
              v-model="order.gift">
              <label for="gift">선물로 보내기</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 boxes">
              <input type="radio"
              id="home" value="Home" v-bind:value="order.home" v-model="order.method">
              <label for="home">자택</label>
              <input type="radio"
              id="business" value="Business" v-bind:value="order.business" v-model="order.method">
              <label for="business">직장</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <button type="submit"
              class="btn btn-primary submit"
              v-on:click="submitForm">주문하기</button>
            </div>
          </div>
          <div class="col-md-12 verify">
            <pre>
              이름: {{order.firstName}}
              성: {{order.lastName}}
              주소: {{order.address}}
              도시: {{order.city}}
              우편번호: {{order.zip}}
              주: {{order.state}}
              주소지: {{order.method}}
              선물: {{order.gift}}
            </pre>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript">
    var APP_LOG_LIFECYCLE_EVENTS = true;
    var shoes = new Vue({ // vue 생성자
      el: '#app', //DOM 마운트 지점을 찾는 CSS 선택자
      data: {
        sitename: 'nike',
        showProduct: true,
        order: {
          firstName: '',
          lastName: '',
          address:'',
          city:'',
          zip:'',
          state:'',
          method:'자택',
          home:'자택 주소',
          business:'직장 주소',
          gift:'',
          sendGift:'선물로 보내기',
          dontSendGift:'선물로 보내지 않기'
        },
        product: {
          id: 1001,
          title: 'Nike Dunk Low, Retro Black',
          description: "<em>요즘 핫한</em> 바로 그 신발!" + "Retro Black 색상입니다",
          price: 150000,
          image: "assets/images/product-fullsize.png",
          availableInventory: 5
        },
        cart: []
      },
      computed: {
        cartItemCount() {
          return this.cart.length || '';
        },
        canAddToCart() {
          return this.product.availableInventory > this.cartItemCount;
        }
      },
      filters: {
        formatPrice: function (price) {
          if (!parseInt(price)) { return ""; }
          if (price > 99999) {
            var priceString = (price / 1000).toFixed(3);
            var priceArray = priceString.split("").reverse();
            var index = 4;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ".");
              index += 4;
            }
            return "￦" + priceArray.reverse().join("");
          } else {
            return "￦" + (price / 1000).toFixed(3);
          }
        }
      },
      methods: {
        addToCart() {
          this.cart.push(this.product.id); //addToCart 함수를 정의
        },
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;
        },
        submitForm(){
          alert('제출 완료');
        }
      },
      beforeCreate: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeCreate");
        }
      },
      created: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("created");
        }
      },
      beforeMount: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeMount");
        }
      },
      mounted: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("mounted");
        }
      },
      beforeUpdate: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeUpdate");
        }
      },
      updated: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("updated");
        }
      },
      beforeDestroy: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("beforeDestroy ");
        }
      },
      destroyed: function () {
        if (APP_LOG_LIFECYCLE_EVENTS) {
          console.log("destroyed");
        }
      }
    });

      // getter은 내가 정해놓은 data! / setter은 console을 통해 바꿀 수 있는 data!
  </script>
</body>

</html>